<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <button class="button button-block button-positive" ng-click="login()">
        Login
      </button>
      <button class="button button-block button-assertive" ng-click="createAcc()">
        Create Login

      </button>
    </div>
  </ion-content>
</ion-view>
